@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
font-family: "PT Sans", sans-serif;
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

body {
background: url(../img/fondo3.jpg);
color: #fff;
}

a {
color: rgb(203, 167, 167);
text-decoration: none;
}
