@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    font-family: 'PT Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    color: rgb(203, 167, 167);
    list-style-type: none;
    text-decoration: none;
    }

body{
    background: url(../img/fondo3.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1920px;
    width: 100%;
}

//estilos del header
.cont-header{
    .cont{
        background: linear-gradient(30deg, #5C0270 50%, #48104F 50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        padding: 5px 10%;
        h1{
            font-size: 30px;
            left: 230px;
        }
        .logo-nombre{
            margin-right: auto;
        }
        .cont-logo{
            cursor: pointer;
            transition: all 0.10;
            height: 80px;
            width: auto;
            padding-bottom: 10px;
        }
        .cont-logo:hover{
            transform: scale(1.1);
        }
        .nav-links{
            list-style: none;
            li{
                display: inline-block;
                padding: 0 20px;
            }
            a{
                font-size: 700;
                color: #fff;
                text-decoration: none;
            }
        }
        .nav-links li:hover{
            transform: scale(1.1);
        }
        .nav-links a:hover{
            color: #E1B7FF ;
        }
    }
        .cont-cate{
            .checkbtb{
                display: none;
            }
            #icon_bars{
                display: none;
            }
            .cont_nav_categorias{
                display: flex;
                max-width: 1920px;
                width: 100%;
                background-color: #00000079;
                .cont-ul > li{
                    float: left;
                }
                li:hover > ul{
                    display: block;
                }
                .cont-ul{
                    list-style-type: none;
                a{
                    color: #fff;
                    text-decoration: none;
                    padding: 15px 20px;
                    display: block;
                }
                a:hover{
                    background-color: #434343b8;
                }
                ul{
                    display: none;
                    position: absolute;
                    min-width: 140px;
                }
                .cont-sub-cate{
                    background-color: #00000079;
                    list-style-type: none;
                }
                .menu_item{
                    margin: auto 30px;
                }
            }
        }
    }  
}  

//estilos de index principal
.cont-main{
    h2{
        font-size: 32px;
        margin-top: 5%;
        margin-left: 50px;
        display: flex;
    }
    .cont-img{
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .cont-p{
            margin-top: 50px;
        }
        p{
            font-size: 1.1em;
            color: #fff;
            text-align: center;
            margin-top: 100px;
        }
        img{
            width: 290px;
        }
    }
    img:hover{
        transform: scale(1.1);
    }
}

//estilo productos
.cont-general{
    border: 3px solid #b433d1b5;
    .cont-producto{
        display: flex;
        justify-content: space-evenly;
        margin-top: 120px;
        img{
            width: 450px;
        }
        .cont-tittle{
            display: flex;
            padding-bottom: 8px;
            padding-right: 10px;
            flex-direction: column;
            margin-left: 25px;
            p{
                margin: 15px 0;
                font-size: 20px;
            }
            h2{
                font-size: 1.7em;
            }
            button{
                width: 150px;
                height: 50px;
                margin-bottom: 10px;
                background-color: #b2639585;
                color: #000000;
                border: 1px solid #000000; 
                border-radius: 5px;
                font-size: 1.2em;
                cursor: pointer;
            }
            button:hover{
                background-color: #ffffff6b;
                color: #e880e3;
            }
        }
    }
    .cont-descripcion{
        margin-bottom: 10px;
        h3{
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 15px;
        }
        p{
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 15px;
        }
    }
    .cont-caracteristicas{
        h3{
            margin-left: 15px;
        }
        p{
            margin-left: 15px;
        }
    } 
}

//estilos de inicio de sesion y registro
.cont-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 97vh;
    color: #fff;
    background:linear-gradient(27deg, #34495e 50%, #2c3e50 50%);
    .login-form{
        .cont-terminos{
            display: flex;
            input{
                margin: 0;
                width: 4%;
                margin-top: -10px;
                margin-left: 50px;
                margin-right: 5px;
                cursor: pointer;
                    } 
            p{
                margin-right: 35px;
                font-size: 15px;
                            
                }
            }
        .cont-check{
            display: flex;
            justify-content: space-around;
            input{
                margin: 0;
                width: 4%;
                margin-top: -10px;
                margin-left: 20px;
                cursor: pointer;
                } 
            p{
                margin-right: 20px;
                }
            }
        }
    .form-body{
        width: 400px;
        min-width: 300px;
        border-radius: 10px;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin: 10px;
        .cont_back{
            text-align: center;
            margin-bottom: 8px;
            }
            .bienvenida{
                font-size: 1.6rem;
                text-align: center;
            }
        h1{
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .text-form{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
            p{
                margin-bottom: 5px;
                }
            }
        .login-form{
            .opciones{
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 1.5rem;
                }
            a:hover{
                opacity: 0.8;
                }
            }
        .cont-opciones{
            text-align: center;
            width: 100%;
            }
        }
        input{
            display: block;
            margin: auto;
            height: 40px;
            margin-bottom: 25px;
            width: 75%;
            padding-left: 10px;
            color: #fff;
            border: 1px solid  #fff;
            border-radius: 2px;
            background-color: transparent;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: 1rem;
            outline: none;
        }
        ::placeholder{
            font-size: 1rem;
            color: rgba(255, 255, 255, .596);
        }
        input:hover{
            transition: 0.5s;
            border: 1px solid #2980b9;
            color:  #2498db;
        }
        button{
            display: block;
            margin: auto;
            margin-top: 25px;
            margin-bottom: 30px;
            height: 40px;
            width: 78%;
            background: transparent;
            color: #b9c4c6;
            border-radius: 2px;
            outline: none;
            cursor: pointer;
            transition: all 0.5s ease;
            border: 1px solid #2988b9;
        }    
        .form-body input[type="password"]{
            margin-top: 20px;
        }
        .form-body button:hover{
            color: #d5dbdd;
            border: 2px solid #3498db;
            background: linear-gradient(#34495e, #2c3e50);
        }
        .cont-back{
            text-align: center;
            font-size: 0.9rem;
            font-weight: 600;
            a:hover{
                opacity: 0.8;
            }
        }
}

.cont-copy{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
    p{
        margin-top: 5px;
        color: #7a7a7a;
    }
    hr{
        height: 1px;
        background-color: #7a7a7a;
        border: none;
    }
}

//product
.cont-hospc{
    .cont-ttsubtt{
        margin-top: 30px;
        margin-left: 50px;
        h2{
            font-size: 2rem;
            font-style: italic;
        }
        p{
            font-size: 2.3rem;
        }
    }
    .cont_product_general{
        margin-top: 34px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
        align-items: center;
        text-align: center;
        // .software-div{
        //     display: inline-flex;
        //     flex-wrap: wrap;
        //     flex-direction: row;
        //     text-align: center;
        //     align-items: center;
        //     width: 40%;
        // }
        img{
            width: 60%;
            margin: 60px 50px;
        }
        p{
            margin-top: 10px;
            text-align: center;
            color: #fff;
            font-size: 18px ;
        }
    }
    .cont-hospc-product:hover{
        transform: scale(1.1);
    }
}

//giftcards
.cont-giftcard{
    margin-left: 25px;
    margin-top: 20px;
    padding: 0px 10px;
    h2{
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    p{
        font-size: 15px;
        margin-top: 20px;
        padding: 5px 0;
    }
}

//Cuenta
.cont-cuenta{
    .cont-tittle-cuenta{
        h2{
            text-align: start;
            margin-left: 25px;
            margin-bottom: 20px;
            font-size: 2.5rem;
            margin-top: 25px;
        }
    }
    .cont-general-cuenta{
        //border: 1px solid #b49cbf;
        margin-left: 25px;
        // align-items: center;
        // text-align: center;
        .cont-datos-cuenta{
            margin-top: 20px;
            h3{
                font-size: 2rem;
            }
            p{
                font-size: 30px;
                span{
                    font-size: 22px;
                    color: #db90e4;
                }
            }
        }   
        .cont-datos-personales{
            margin-top: 20px;
            h3{
                font-size: 2rem;
            }
            p{
                font-size: 30px;
                span{
                    font-size: 22px;
                    color: #db90e4;
                }
            }
        }     
    }

}

//Trabaja con Nosotros
.cont-general-nosotros{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-top: 25px;
    .cont-info-nosotros{
        padding: 5px 0;
        h2{
            font-size: 2.3rem;
        }
        p{
            margin-top: 10px;
            padding-top: 5px;
            font-size: 20px;
        }
    }
    .cont-trabaja-nosotros{
        h3{
            font-size: 2rem;
            margin: 15px 0;
        }
        h4{
            font-size: 1.6rem;
        }
        .cont-file{
            border: none;
            margin-left: -10px;
            color: #fff;
        }
        .cont-label-nosotros{
            display: flex;
            p{
                margin-left: 15px;
                font-size: 18px;
            }
            input{
                width: 5%;
                margin-top: -9px;
            }
        }
        input{
            display: block;
            margin: 15px 0;
            height: 40px;
            width: 75%;
            padding-left: 10px;
            color: #000000;
            border: 1px solid  #d5a8a835;
            border-radius: 2px;
            font-size: 1rem;
            outline: none;
        } 
        .cont-enviar{
            cursor: pointer;
            text-align: center;
            width: 40%;
        }
    }
}

//Carrito
.cont-carrito{
    margin-left: 30px;
    margin-top: 20px;
    h2{
        font-size: 2.6rem;
    }
    .cont-articulo{
        margin: 30px 30px;
        cursor: pointer;
        img{
            width: 10%;
            border: solid 1px #000000;
            background-color: #b8a9a928;
            border-radius: 10px;
            margin-top: 10px;
        }
        h3{
            font-size: 1.3rem;
        }
        p{
            font-size: 18px;
            position: absolute;
        }
        p:hover{
            color: #d680ec;
        }
    }
    .cont-compra{
        margin-left: 30px;
        p{
            margin-top: 50px;
            font-size: 1.3rem;
        }
        button{
            margin-top: 15px;
            width: 6%;
            height: 40px;
            position: absolute;
            left: 120px;
            cursor: pointer;
            background: #fff;
            border-radius: 10px;
            font-size: 15px;
            font-weight: 800;
        }
        button:hover{
            background: #848080c6;
            color: #fff;
        }
    }
}

//Ayuda/Preguntas Frecuentes
.cont-general-help{
    margin: 15px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .tab{
        position: relative;
        padding: 0 20px 20px;
        background-color: #e99aec9e;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        overflow: hidden;
        margin: 15px 0;
        input{
            appearance: none;
            &:checked{
                ~{
                    label{
                        &::after{
                            content: "+";
                            color: rgb(57, 45, 226);
                            transform: rotate(135deg);
                        }
                        h2{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        color: rgba(255, 255, 255, 0.2);
                        font-size: 8em;
                        justify-content: flex-end;
                        padding: 20px;
                        }
                        h3{
                        background: #fff;
                        padding: 2px 10px;
                        color: #333;
                        border-radius: 2px;
                        box-shadow: 0 5px 15px rgba(0 , 0 , 0 , 0.05);
                        }
                    }
                .content{
                    max-height: 100vh;
                    transition: 1s;
                    p{
                        color: #fffdfd;
                    }
                }
            }
        }
        }
        label{
        display: inline-block;
        display: flex;
        margin-bottom: 0;
        align-items: center;
        cursor: pointer;
        &::after{
            content: "+";
            position: absolute;
            right: 20px;
            font-size: 2em;
            color: rgba(0,0,0,0.1);
            transition: transform 1s;
        }
        h2{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 1.25em;
            border-radius: 5px;
            margin-right: 10px;
        }
        h3{
            position: relative;
            font-weight: 500;
            color: #fff9f9;
            z-index: 10;
        }
        }
        &:hover{
        label{
            &::after{
                color: #333;
            }
        }
        }
        .content{
        max-height: 0;
        overflow: hidden;
        transition: 1s;
            p{
            position: relative;
            padding: 10px 0;
            color: #333;
            z-index: 10;
            }
        }
    }
    .cont-contactanos{
        p{
            font-size: 16px;
        }
        input{
            display: block;
            margin: 15px 0;
            height: 40px;
            width: 17%;
            padding-left: 10px;
            color: #000000;
            border: 1px solid  #d5a8a835;
            border-radius: 3px;
            font-size: 1rem;
            outline: none;
        } 
        .cont-enviar{
            cursor: pointer;
            text-align: center;
            width: 7%;
        }
        .cont-text-area{
            resize: none;
            width: 17%;
        }
    }
}

//estilos del footer
footer{
    width: 100%;
    padding: 50px 0;
    .cont-general-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
        .cont-footer{
            display: flex;
            flex-direction: column;
            padding: 40px;
            h3{
                margin-bottom: 30px;
                color: #fff;
                font-weight: 700;
            }
            a{
                margin-top: 10px;
                font-weight: 600;
                .fa-brands{
                    font-size: 20px;
                }
            }
            a:hover{
                opacity: 0.8;
            }
        }
    }
    .cont-copy{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0 40px;
        p{
            margin-top: 20px;
            color: #7a7a7a;
        }
        hr{
            height: 1px;
            background-color: #7a7a7a;
            border: none;
        }
    }
}

//responsive

//responsive carrito
@media screen and (max-width: 980px){
    .cont-carrito{
        .cont-articulo{
            img{
                width: 140px;
            }
        }
        .cont-compra{
            button{
                width: 110px;
            }
        }
    }
}

//responsive header
@media screen and (max-width: 926px){
    .cont-header{
        .cont-cate{
            .cont-ul{
                font-size: 15px;
            }
        }
    }
}

//responsive desaparicion ayuda
@media screen and (max-width: 905px){
    .cont-header{
        .cont-cate{
            .cont_nav_categorias{
                .cont-ul{
                    .cate_menu{
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 860px){
    .cont-header{
        .cont{
            .logo-nombre{
                margin-left: -20px;
            }
            .cont-cate{
                margin-left: -20px;
                font-size: 13px;
            }
        }
    }
    .cont-general-help{
        .cont-contactanos{
            input{
                width: 250px;
            }
            .cont-text-area{
                width: 250px;
            }
            .cont-enviar{
                width: 200px;
            }
        }
    }
}

//responsive otras medidas
@media screen and (max-width: 720px){
    .cont-header{
        .cont{
            width: 100%;
            display: inline-flex;
            flex-wrap: nowrap;
            h1{
                display: inline-block;
            }
            .cont-nav{
                margin-left: 20px;
                margin-bottom: 5px;
                align-items: center;
                text-align: center;
                .cont_nav_a{
                    text-align: center;
                    display: none;
                }
            }
        }
        .cont-cate{
            .cont_nav_categorias{
                .checkbtb{
                    display: block;
                    font-size: 30px;
                    margin-left: 20px;
                }
                #icon_bars:checked ~ ul{
                    left: 0;
                }
                .cont-ul{
                    position: absolute;
                    width: 100%;
                    height: 40vh;
                    background-color: #000000f0;
                    top: 125px;
                    left: -100%;
                    text-align: center;
                    transition: all 0.5s;
                    display: grid;
                    li{
                        display: block;                
                        a{
                            font-size: 20px;
                        }
                        a:hover{
                            background: none;
                            color:#511158;
                        }
                    }
                    .cont-sub-cate{
                        width: 100%;
                        height: 35vh;
                        background-color: #000000;
                    }
                    .cont-sub-cate:hover{
                        color: #4c185399;
                    }
                    .cate_menu{
                        display: none;
                    }
                }
            }
        }
    }
    .cont-main{
        h2{
            margin-left: 20px;
        }
        .cont-img{
            flex-direction: column;
            align-items: center;
        }
    }
}

//responsive otras medidas v2
@media screen and (max-width: 699px){
    .cont-header{
        .cont{
            .cont-logo{
                width: 115px;
            }
            .logo-nombre{
                position: absolute;
                left: 130px;
                font-size: 25px;
                margin-left: 30px;
            }
        }
    }
}

//responsive ayuda
@media screen and (max-width: 690px){
    .cont-header{
        width: 100%;
    }
    .cont-general-help{
        margin: 15px 0;
        margin-left: 15px;
        .cont{
            .tab{
                width: 400px;
                margin-right: 0;
            }
        }
        .cont-contactanos{
            p{
                font-size: 13px;
            }
            input{
                width: 200px;
            }
            .cont-text-area{
                width: 200px;
            }
            .cont-enviar{
                width: 130px;
            }
        }
    }
}

//responsive productos
@media screen and (max-width: 510px){
    .cont-header{
        width: 100%;
    }
    .cont-hospc{
        .cont-ttsubtt{
            text-align: center;
            margin: 0;
            h2{
                margin-top: 10px;
                font-size: 25px;
            }
            p{
                font-size: 20px;
            }
        }
        .cont_product_general{
            margin: 0;
            img{
                width: 200px;
            }
            .cont-hospc-product{
                margin-left: 15px;
                h3{
                font-size: 15px;
                }
            }
        }
    }
}

//responsive otras medidas v3
@media screen and (max-width: 488px){
    .cont-header{
        .cont{
            .cont-logo{
                width: 90px;
                height: 65px;
            }
            .logo-nombre{
                position: absolute;
                font-size: 20px;
                left: 90px;
            }
            .cont-nav{
                .nav-links{
                    font-size: 14px;
                    margin-top: 10px;
                }
            }
        }
    }
}

//ayuda
@media screen and (max-width: 420px){
    .cont-general-help{
        margin: 15px 0;
        margin-left: 15px;
        h2{
            font-size: 25px;
        }
        .cont{
            .tab{
                width: 350px;
                margin-right: 0;
            }
        }
        .cont-contactanos{
            p{
                font-size: 12px;
            }
            input{
                width: 200px;
            }
            .cont-text-area{
                width: 200px;
            }
            .cont-enviar{
                width: 130px;
            }
        }
    }
}

//responsive otras medidas v4
@media screen and (max-width: 413px){
    .cont-header{
        .cont{
            .cont-logo{
                width: 70px;
                height: 60px;
                position: absolute;
                left: 10px;
                top: 15px;
            }
            .logo-nombre{
                position: absolute;
                left: 40px;
            }
        }
    }
}

//ayuda
@media screen and (max-width: 375px){
    .cont-header{
        width: 100%;
    }
    .cont-general-help{
        margin: 15px 0;
        margin-left: 15px;
        .cont{
            .tab{
                width: 290px;
                margin-right: 0;
            }
        }
        .cont-contactanos{
            p{
                font-size: 12px;
            }
            input{
                width: 200px;
            }
            .cont-text-area{
                width: 200px;
            }
            .cont-enviar{
                width: 130px;
            }
        }
    }
}

//responsive otras medidas v5
@media screen and (max-width: 350px){
    .cont-header{
        .cont{
            .cont-logo{
                left: 5px;
            }
            .logo-nombre{
                left: 30px;
                font-size: 18px;
            }
            .cont-nav{
                .nav-links{
                    font-size: 13px;
                }
            }
        }
    }
}

//responsive productos
@media screen and (max-width: 690px){
    .cont-general{
        border: none;
        .cont-producto{
            margin-bottom: 100px;
            .cont-tittle{
                margin-left: 0;
                p{
                    font-size: 18px ;
                }
                h2{
                    font-size: 1.5em;
                }
            }
            img{
                width: 250px;
            }
        }
        .cont-descripcion{
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
        .cont-caracteristicas{
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 410px){
    .cont-general{
        .cont-producto{
            margin-right: 30px;
            .cont-img{
                width: 190px;
                margin-right: 15px;
            }
            .cont-tittle{
                h2{
                    margin-left: -15px;
                }
                p{
                    margin-left: -15px;
                }
                button{
                    margin-left: -15px;
                }                
            }
        }
        .cont-descripcion{
            h3{
                font-size: 17px;
            }
            p{
                font-size: 13px;
            }
        }
        .cont-caracteristicas{
            h3{
                font-size: 17px;
            }
            p{
                font-size: 13px;
            }
        }
    }
}