@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    font-family: 'PT Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    color: rgb(203, 167, 167);
    list-style-type: none;
    text-decoration: none;
    }

body{
    background: url(../img/fondo3.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1920px;
    width: 100%;
}

//estilos del header

.cont-header{
    .cont{
        background: linear-gradient(30deg, #5C0270 50%, #48104F 50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        padding: 5px 10%;
        h1{
            font-size: 30px;
            left: 230px;
        }
        .logo-nombre{
            margin-right: auto;
        }
        .cont-logo{
            cursor: pointer;
            transition: all 0.10;
            height: 80px;
            width: auto;
            padding-bottom: 10px;
        }
        .cont-logo:hover{
            transform: scale(1.1);
        }
        .nav-links{
            list-style: none;
            li{
                display: inline-block;
                padding: 0 20px;
            }
            a{
                font-size: 700;
                color: #fff;
                text-decoration: none;
            }
        }
        .nav-links li:hover{
            transform: scale(1.1);
        }
        .nav-links a:hover{
            color: #E1B7FF ;
        }
    }
        .cont-cate{
            .checkbtb{
                display: none;
            }
            #icon_bars{
                display: none;
            }
            .cont_nav_categorias{
                display: flex;
                max-width: 1920px;
                width: 100%;
                background-color: #00000079;
                .cont-ul > li{
                    float: left;
                }
                li:hover > ul{
                    display: block;
                }
                .cont-ul{
                    list-style-type: none;
                a{
                    color: #fff;
                    text-decoration: none;
                    padding: 15px 20px;
                    display: block;
                }
                a:hover{
                    background-color: #434343b8;
                }
                ul{
                    display: none;
                    position: absolute;
                    min-width: 140px;
                }
                .cont-sub-cate{
                    background-color: #00000079;
                    list-style-type: none;
                }
                .menu_item{
                    margin: auto 30px;
                }
            }
        }
    }  
}  

//estilos de index principal
.cont-main{
    h2{
        font-size: 32px;
        margin-top: 5%;
        margin-left: 50px;
        display: flex;
    }
    .cont-img{
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        p{
            font-size: 1.1em;
            color: #fff;
            text-align: center;
        }
    }
    img:hover{
        transform: scale(1.1);
    }
}

//estilo productos
.cont-general{
    border: 3px solid #b433d1b5;
    .cont-producto{
        display: flex;
        justify-content: space-evenly;
        margin-top: 120px;
        img{
            width: 450px;
        }
        .cont-tittle{
            display: flex;
            padding-bottom: 8px;
            padding-right: 10px;
            flex-direction: column;
            margin-left: 25px;
            p{
                margin: 15px 0;
                font-size: 20px;
            }
            h2{
                font-size: 1.7em;
            }
            button{
                width: 150px;
                height: 50px;
                margin-bottom: 10px;
                background-color: #b2639585;
                color: #000000;
                border: 1px solid #000000; 
                border-radius: 5px;
                font-size: 1.2em;
                cursor: pointer;
            }
            button:hover{
                background-color: #ffffff6b;
                color: #e880e3;
            }
        }
    }
    .cont-descripcion{
        margin-bottom: 10px;
        h3{
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 15px;
        }
        p{
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 15px;
        }
    }
    .cont-caracteristicas{
        h3{
            margin-left: 15px;
        }
        p{
            margin-left: 15px;
        }
    } 
}

//estilos de inicio de sesion y registro
.cont-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 97vh;
    color: #fff;
    background:linear-gradient(27deg, #34495e 50%, #2c3e50 50%);
    .login-form{
        .cont-terminos{
            display: flex;
            input{
                margin: 0;
                width: 4%;
                margin-top: -10px;
                margin-left: 50px;
                margin-right: 5px;
                cursor: pointer;
                    } 
            p{
                margin-right: 35px;
                font-size: 15px;
                            
                }
            }
        .cont-check{
            display: flex;
            justify-content: space-around;
            input{
                margin: 0;
                width: 4%;
                margin-top: -10px;
                margin-left: 20px;
                cursor: pointer;
                } 
            p{
                margin-right: 20px;
                }
            }
        }
    .form-body{
        width: 400px;
        min-width: 300px;
        border-radius: 10px;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin: 10px;
        .cont_back{
            text-align: center;
            margin-bottom: 8px;
            }
            .bienvenida{
                font-size: 1.6rem;
                text-align: center;
            }
        h1{
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .text-form{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
            p{
                margin-bottom: 5px;
                }
            }
        .login-form{
            .opciones{
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 1.5rem;
                }
            a:hover{
                opacity: 0.8;
                }
            }
        .cont-opciones{
            text-align: center;
            width: 100%;
            }
        }
        input{
            display: block;
            margin: auto;
            height: 40px;
            margin-bottom: 25px;
            width: 75%;
            padding-left: 10px;
            color: #fff;
            border: 1px solid  #fff;
            border-radius: 2px;
            background-color: transparent;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: 1rem;
            outline: none;
        }
        ::placeholder{
            font-size: 1rem;
            color: rgba(255, 255, 255, .596);
        }
        input:hover{
            transition: 0.5s;
            border: 1px solid #2980b9;
            color:  #2498db;
        }
        button{
            display: block;
            margin: auto;
            margin-top: 25px;
            margin-bottom: 30px;
            height: 40px;
            width: 78%;
            background: transparent;
            color: #b9c4c6;
            border-radius: 2px;
            outline: none;
            cursor: pointer;
            transition: all 0.5s ease;
            border: 1px solid #2988b9;
        }    
        .form-body input[type="password"]{
            margin-top: 20px;
        }
        .form-body button:hover{
            color: #d5dbdd;
            border: 2px solid #3498db;
            background: linear-gradient(#34495e, #2c3e50);
        }
        .cont-back{
            text-align: center;
            font-size: 0.9rem;
            font-weight: 600;
            a:hover{
                opacity: 0.8;
            }
        }
}
.cont-copy{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
    p{
        margin-top: 5px;
        color: #7a7a7a;
    }
    hr{
        height: 1px;
        background-color: #7a7a7a;
        border: none;
    }
}

//estilos del footer
footer{
    width: 100%;
    padding: 50px 0;
    .cont-general-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
        .cont-footer{
            display: flex;
            flex-direction: column;
            padding: 40px;
            h3{
                margin-bottom: 30px;
                color: #fff;
                font-weight: 700;
            }
            a{
                margin-top: 10px;
                font-weight: 600;
                .fa-brands{
                    font-size: 20px;
                }
            }
            a:hover{
                opacity: 0.8;
            }
        }
    }
    .cont-copy{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0 40px;
        p{
            margin-top: 20px;
            color: #7a7a7a;
        }
        hr{
            height: 1px;
            background-color: #7a7a7a;
            border: none;
        }
    }
}

//responsive
@media screen and (max-width: 926px){
    .cont-header{
        .cont-cate{
            .cont-ul{
                font-size: 15px;
            }
        }
    }
}

//responsive desaparicion ayuda
@media screen and (max-width: 905px){
    .cont-header{
        .cont-cate{
            .cont_nav_categorias{
                .cont-ul{
                    .cate_menu{
                        display: none;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 860px){
    .cont-header{
        .cont{
            .logo-nombre{
                margin-left: -20px;
            }
            .cont-cate{
                margin-left: -20px;
                font-size: 13px;
            }
        }
    }
}


//responsive otras medidas
@media screen and (max-width: 720px){
    .cont-header{
        .cont{
            width: 100%;
            display: inline-flex;
            flex-wrap: nowrap;
            h1{
                display: inline-block;
            }
            .cont-nav{
                margin-left: 20px;
                margin-bottom: 5px;
                align-items: center;
                text-align: center;
                .cont_nav_a{
                    text-align: center;
                    display: none;
                }
            }
        }
        .cont-cate{
            .cont_nav_categorias{
                .checkbtb{
                    display: block;
                    font-size: 30px;
                    margin-left: 20px;
                }
                #icon_bars:checked ~ ul{
                    left: 0;
                }
                .cont-ul{
                    position: absolute;
                    width: 100%;
                    height: 40vh;
                    background-color: #000000f0;
                    top: 125px;
                    left: -100%;
                    text-align: center;
                    transition: all 0.5s;
                    display: grid;
                    li{
                        display: block;                
                        a{
                            font-size: 20px;
                        }
                        a:hover{
                            background: none;
                            color:#511158;
                        }
                    }
                    .cont-sub-cate{
                        width: 100%;
                        height: 35vh;
                        background-color: #000000;
                    }
                    .cont-sub-cate:hover{
                        color: #4c185399;
                    }
                    .cate_menu{
                        display: none;
                    }
                }
            }
        }
    }
    .cont-main{
        h2{
            margin-left: 20px;
        }
        .cont-img{
            flex-direction: column;
            align-items: center;
        }
    }
}

//responsive otras medidas v2
@media screen and (max-width: 699px){
    .cont-header{
        .cont{
            .cont-logo{
                width: 115px;
            }
            .logo-nombre{
                position: absolute;
                left: 130px;
                font-size: 25px;
                margin-left: 30px;
            }
        }
    }
}

//responsive otras medidas v3
@media screen and (max-width: 488px){
    .cont-header{
        .cont{
            .cont-logo{
                width: 90px;
                height: 65px;
            }
            .logo-nombre{
                position: absolute;
                font-size: 20px;
                left: 90px;
            }
            .cont-nav{
                .nav-links{
                    font-size: 14px;
                    margin-top: 10px;
                }
            }
        }
    }
}

//responsive otras medidas v4
@media screen and (max-width: 413px){
    .cont-header{
        .cont{
            .cont-logo{
                width: 70px;
                height: 60px;
                position: absolute;
                left: 10px;
                top: 15px;
            }
            .logo-nombre{
                position: absolute;
                left: 40px;
            }
        }
    }
}

//responsive otras medidas v5
@media screen and (max-width: 350px){
    .cont-header{
        .cont{
            .cont-logo{
                left: 5px;
            }
            .logo-nombre{
                left: 30px;
                font-size: 18px;
            }
            .cont-nav{
                .nav-links{
                    font-size: 13px;
                }
            }
        }
    }
}

//responsive productos
@media screen and (max-width: 690px){
    .cont-general{
        border: none;
        .cont-producto{
            margin-bottom: 100px;
            .cont-tittle{
                margin-left: 0;
                p{
                    font-size: 18px ;
                }
                h2{
                    font-size: 1.5em;
                }
            }
            img{
                width: 250px;
            }
        }
        .cont-descripcion{
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
        .cont-caracteristicas{
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 410px){
    .cont-general{
        .cont-producto{
            margin-right: 30px;
            .cont-img{
                width: 190px;
                margin-right: 15px;
            }
            .cont-tittle{
                h2{
                    margin-left: -15px;
                }
                p{
                    margin-left: -15px;
                }
                button{
                    margin-left: -15px;
                }                
            }
        }
        .cont-descripcion{
            h3{
                font-size: 17px;
            }
            p{
                font-size: 13px;
            }
        }
        .cont-caracteristicas{
            h3{
                font-size: 17px;
            }
            p{
                font-size: 13px;
            }
        }
    }
}