@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    font-family: 'PT Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: #ae00ff;
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover{
    background: #bd00ec;
}

a{
    color: rgb(203, 167, 167);
    list-style-type: none;
    text-decoration: none;
    }

body{
    background: url(../img/fondo3.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

//estilos del header

header{
        .cont-header{
        display: flex;
        justify-content: space-around;
        min-height: 70px;
        background: linear-gradient(30deg, #5C0270 50%, #48104F 50%);
        align-items: center;
        padding: 10px;
        .logo{
            display: flex;
            align-items: center;
            h1{
                cursor: default;
            }
        }            
        img{
                width: 80px;
            }
        nav{
            .nav-link{
                color: #fff;
                padding-right: 10px;            
            }
            .nav-link:hover{
                color: #E1B7FF;
            }
            .cont-a-nav:hover{
                transform: scale(1);
            }      

        }   
    }
    .cont-cate{
        .checkbtb{
            display: none;
        }
        #icon_bars{
            display: none;
        }
        .cont_nav_categorias{
            display: flex;
            max-width: 1920px;  
            width: 100%;
            background-color: #00000079;
            .cont-ul > li{
                float: left;
            }
            li:hover > ul{
                display: block;
            }
            .cont-ul{
            list-style-type: none;
                a{
                    color: #fff;
                    text-decoration: none;
                    padding: 15px 20px;
                    display: block;
                }
                a:hover{
                    background-color: #434343b8;
                }
                ul{
                display: none;
                position: absolute;
                min-width: 140px;
                }
                .cont-sub-cate{
                    background-color: #000000;
                    list-style-type: none;
                    z-index: 10;
                }
                .menu_item{
                    margin: auto 30px;
                }
            }
        }  
    }  
}

//estilos de index principal
.cont-main{
    .cont-inicio{
        background: url(../img/fondo-inicio-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-block: 160px;  
        text-align: center;

    }        
    h3{
        margin-top: 70px;
        font-size: 2.5em;
        text-align: center;
        border-bottom: #000000 1px solid;   
    }
    h2{
        font-size: 3em;
        margin-top: 5%;
        background-color: #0000002f;

    }
    .cont-img{
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        h3{
            font-size: 1.3em;
            color: #fff;
            text-align: center;
            align-items: center;
            margin: 25px 0;
            border: none;
        }
        h3:hover{
            color: #000000;
        }
        img{
            width: 330px;
            height: 350px;
            align-items: center;
            text-align: center;
            object-fit: cover;
        }
        a{
            background-color: #9c9696c5;
            border: solid 1px #fff;
            border-radius: 5px;
        }    
        a:hover{
        transform: scale(1.1);
        }
    }
}

//estilo productos
.cont-general{
    border: 3px solid #b433d1b5;
    .cont-producto{
        display: flex;
        justify-content: space-evenly;
        margin-top: 120px;
        img{
            width: 450px;
        }
        .cont-tittle{
            display: flex;
            padding-bottom: 8px;
            padding-right: 10px;
            flex-direction: column;
            margin-left: 25px;
            p{
                margin: 15px 0;
                font-size: 20px;
            }
            h2{
                font-size: 1.7em;
            }
            button{
                width: 150px;
                height: 50px;
                margin-bottom: 10px;
                background-color: #b2639585;
                color: #000000;
                border: 1px solid #000000; 
                border-radius: 5px;
                font-size: 1.2em;
                cursor: pointer;
            }
            button:hover{
                background-color: #ffffff6b;
                color: #e880e3;
            }
        }
    }
    .cont-descripcion{
        margin-bottom: 10px;
        h3{
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 15px;
        }
        p{
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 15px;
        }
    }
    .cont-caracteristicas{
        h3{
            margin-left: 15px;
        }
        p{
            margin-left: 15px;
        }
    } 
}

//product and offers
.cont-hospc{
    .cont-ttsubtt{ 
        h2{
            font-size: 4rem;
            font-style: italic;
            color: #fff;
            text-align: center;
            background-color: #00000010;
        }
        p{
            font-size: 2.5rem;
            color: #fff;
            background-color: #00000010;
            text-align: center;
        }
        .cont-cel{
        background: url(../img/fondo-cel-copia.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-block: 160px;            
        }
        .cont-hardware{
            background: url(../img/fondo-hard.jpg);
            background-repeat: no-repeat;
            padding-block: 160px;
            background-size: cover;
            background-position: center;
        }
        .cont-peri{
            background: url(../img/fondo-perifericos.jpg);
            background-repeat: no-repeat;
            padding-block: 160px;
            background-size: cover;
            background-position: center;
        }
        .cont-soft{
            background: url(../img/fondo-soft.jpg );
            background-repeat: no-repeat;
            padding-block: 160px;
            background-size: cover;
            background-position: center;
        }
        .cont-ofer{
            background-color: #ffffff;
            padding-block: 110px;
            h2{
                color: #000000;
            }
            p{
                color: #000000;
            }
        }
    }
    .cont_product_general{
        margin-top: 34px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
        align-items: center;
        text-align: center;
        img{
            width: 60%;
            margin: 60px 50px;
            height: 60%;
            align-items: center;
            text-align: center;
            object-fit: cover; 
            background-color: #9c9696a4;
            border: solid 1px #fff;
            border-radius: 5px;
        }
        p{
            margin-top: 10px;
            text-align: center;
            color: #fff;
            font-size: 18px ;
        }
    }
    .cont-hospc-product:hover{
        transform: scale(1.1);
    }
}

//giftcards
.cont-giftcard{
    margin-left: 25px;
    margin-top: 20px;
    padding: 0px 10px;
    h2{
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    p{
        font-size: 15px;
        margin-top: 20px;
        padding: 5px 0;
    }
}

//Cuenta
.cont-cuenta{
    width: 500px;
    .cont-tittle-cuenta{
        h2{
            text-align: center;
            justify-content: center;
            font-size: 2.5rem;
            margin: 25px 0;
        }
    }
    .cont-general-cuenta{
        border: 3px solid #000000;
        margin-left: 25px;
        background-color: #ffffffcb;
        border-radius: 10px;
        .cont-datos-cuenta{
            margin-top: 20px;
            h3{
                font-size: 2rem;
                color: #000000;
            }
            p{
                font-size: 30px;
                color: #000000;
                span{
                    font-size: 22px;
                    color: #933b9c;
                }
            }
        }   
        .cont-datos-personales{
            margin: 20px 0;
            h3{
                font-size: 2rem;
                color: #000000;
            }
            p{
                font-size: 30px;
                color: #000000;
                span{
                    font-size: 22px;
                    color: #933b9c;
                }
            }
        }     
    }

}

//Trabaja con Nosotros
.cont-general-nosotros{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-top: 25px;
    .cont-info-nosotros{
        padding: 5px 0;
        h2{
            font-size: 2.3rem;
        }
        p{
            margin-top: 10px;
            padding-top: 5px;
            font-size: 20px;
        }
    }
    .cont-trabaja-nosotros{
        h3{
            font-size: 2rem;
            margin: 15px 0;
        }
        h4{
            font-size: 1.6rem;
        }
        .cont-file{
            border: none;
            margin-left: -10px;
            color: #fff;
        }
        .cont-label-nosotros{
            display: flex;
            p{
                margin-left: 15px;
                font-size: 18px;
            }
            input{
                width: 5%;
                margin-top: -9px;
            }
        }
        input{
            display: block;
            margin: 15px 0;
            height: 40px;
            width: 75%;
            padding-left: 10px;
            color: #000000;
            border: 1px solid  #d5a8a835;
            border-radius: 2px;
            font-size: 1rem;
            outline: none;
        } 
        .cont-enviar{
            cursor: pointer;
            text-align: center;
            width: 40%;
        }
    }
}

//Carrito
.cont-carrito{
    margin-left: 30px;
    margin-top: 20px;
    h2{
        font-size: 2.6rem;
    }
    .cont-articulo{
        margin: 30px 30px;
        cursor: pointer;
        img{
            width: 10%;
            border: solid 1px #000000;
            background-color: #b8a9a928;
            border-radius: 10px;
            margin-top: 10px;
        }
        h3{
            font-size: 1.3rem;
        }
        p{
            font-size: 18px;
            position: absolute;
        }
        p:hover{
            color: #d680ec;
        }
    }
    .cont-compra{
        margin-left: 30px;
        p{
            margin-top: 50px;
            font-size: 1.3rem;
        }
        button{
            margin-top: 15px;
            width: 6%;
            height: 40px;
            position: absolute;
            left: 120px;
            cursor: pointer;
            background: #fff;
            border-radius: 10px;
            font-size: 15px;
            font-weight: 800;
        }
        button:hover{
            background: #848080c6;
            color: #fff;
        }
    }
}

//Ayuda/Preguntas Frecuentes
.cont-general-help{
    margin: 15px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .tab{
        position: relative;
        padding: 0 20px 20px;
        background-color: #e99aec9e;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        overflow: hidden;
        margin: 15px 0;
        input{
            appearance: none;
            &:checked{
                ~{
                    label{
                        &::after{
                            content: "+";
                            color: rgb(57, 45, 226);
                            transform: rotate(135deg);
                            position: absolute;
                        }
                        h2{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        color: rgba(255, 255, 255, 0.2);
                        font-size: 8em;
                        justify-content: flex-end;
                        padding: 20px;
                        }
                        h3{
                        background: #fff;
                        padding: 2px 10px;
                        color: #333;
                        border-radius: 2px;
                        box-shadow: 0 5px 15px rgba(0 , 0 , 0 , 0.05);
                        }
                    }
                .content{
                    max-height: 100vh;
                    transition: 1s;
                    p{
                        color: #fffdfd;
                    }
                }
            }
        }
        }
        label{
        display: inline-block;
        display: flex;
        margin-bottom: 0;
        align-items: center;
        cursor: pointer;
        &::after{
            content: "+";
            position: absolute;
            right: 20px;
            font-size: 2em;
            color: rgba(0,0,0,0.1);
            transition: transform 1s;
        }
        h2{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 1.25em;
            border-radius: 5px;
            margin-right: 10px;
        }
        h3{
            position: relative;
            font-weight: 500;
            color: #fff9f9;
        }
        }
        &:hover{
        label{
            &::after{
                color: #333;
            }
        }
        }
        .content{
        max-height: 0;
        overflow: hidden;
        transition: 1s;
            p{
            position: relative;
            padding: 10px 0;
            color: #333;
            }
        }
    }
    .cont-contactanos{
        p{
            font-size: 16px;
        }
        input{
            display: block;
            margin: 15px 0;
            height: 40px;
            width: 17%;
            padding-left: 10px;
            color: #000000;
            border: 1px solid  #d5a8a835;
            border-radius: 3px;
            font-size: 1rem;
            outline: none;
        } 
        .cont-enviar{
            cursor: pointer;
            text-align: center;
            width: 7%;
        }
        .cont-text-area{
            resize: none;
            width: 17%;
        }
    }
}

//estilos del footer
footer{
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    .cont-general-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
        text-align: center;
        .cont-footer{
            display: flex;
            flex-direction: column;
            padding: 40px;
            align-items: flex-start;
            h3{
                margin-bottom: 30px;
                color: #fff;
                font-weight: 700;
            }
            a{
                margin-top: 10px;
                font-weight: 600;
            }
            .fa-brands{
                margin-right: 5px;
                font-size: 17px;
            }
            a:hover{
                opacity: 0.8;
            }
        }
    }
    .cont-copy{
        border-top: 0.1px solid #fff;
        margin-top: 10px;
    }
}

//responsive

//responsive carrito
@media screen and (max-width: 980px){
    .cont-main{
        .cont-img{
            display: flex;
            flex-direction: column;
            a{
                margin: 15px 0;
            }
        }
    }
    .cont-carrito{
        .cont-articulo{
            img{
                width: 170px;
            }
            p{
                position: unset;
            }
        }
        .cont-compra{
            button{
                width: 90px;
            }
        }
    }
}

//responsive header
@media screen and (max-width: 926px){
    .cont-header{
        .cont-cate{
            .cont-ul{
                font-size: 15px;
            }
        }
    }
}

//responsive desaparicion ayuda
@media screen and (max-width: 905px){
    .cont-header{
        .cont-cate{
            .cont_nav_categorias{
                .cont-ul{
                    .cate_menu{
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 860px){
    .cont-header{
        .cont{
            .cont-cate{
                margin-left: -20px;
                font-size: 13px;
            }
        }
    }
    .cont-general-help{
        .cont-contactanos{
            input{
                width: 250px;
            }
            .cont-text-area{
                width: 250px;
            }
            .cont-enviar{
                width: 200px;
            }
        }
    }
}

//responsive otras medidas
@media screen and (max-width: 720px){
        .cont-cate{
            .cont_nav_categorias{
                .checkbtb{
                    display: block;
                    font-size: 30px;
                    margin-left: 20px;
                }
                #icon_bars:checked ~ ul{
                    left: 0;
                }
                .cont-ul{
                    position: absolute;
                    width: 100%;
                    height: 40vh;
                    background-color: #000000;
                    top: 109px;
                    left: -100%;
                    text-align: center;
                    transition: all 0.5s;
                    display: flex;
                    flex-direction: column;
                    z-index: 10;
                    li{
                        display: block;                
                        a{
                            font-size: 20px;
                        }
                        a:hover{
                            background: none;
                            color:#511158;
                        }
                    }
                    .cont-sub-cate{
                        width: 100%;
                        height: 35vh;
                        background-color: #000000;
                    }
                    .cont-sub-cate:hover{
                        color: #4c1853c4;
                    }
                    .cate_menu{
                        display: none;
                    }
                }
            }
        }
    .cont-main{
        h2{
            margin-left: 20px;
        }
        .cont-img{
            flex-direction: column;
            align-items: center;
            a{
                margin: 20px 0;
            }
        }
    }
}

@media (max-width:700px){
    .cont-header{
        flex-direction: column;
        nav{
            padding: 10px 0;
        }
    }       
    .cont-cate{
        .cont_nav_categorias{
            .cont-ul{
                top: 143px;
                z-index: 10;
                position: absolute;
            }
        }
    }
    .cont-main{
        .cont-img{
            a{
                background: none;
                border: none;
            }
        }
    }
}

//responsive ayuda
@media screen and (max-width: 690px){
    .cont-general-help{
        margin: 15px 0;
        margin-left: 15px;
        .cont{
            .tab{
                width: 400px;
                margin-right: 0;
                position: unset;
                h3{
                    position: unset;
                }
                .content{
                    p{
                        position: unset;
                    }
                }
            }
        }
        .cont-contactanos{
            p{
                font-size: 13px;
            }
            input{
                width: 200px;
            }
            .cont-text-area{
                width: 200px;
            }
            .cont-enviar{
                width: 130px;
            }
        }
    }
}

//responsive productos
@media screen and (max-width: 510px){
    .cont-hospc{
        .cont-ttsubtt{
            text-align: center;
            margin: 0;
            h2{
                margin-top: 10px;
                font-size: 25px;
            }
            p{
                font-size: 20px;
            }
        }
        .cont_product_general{
            margin: 0;
            img{
                width: 200px;
            }
            .cont-hospc-product{
                margin-left: 15px;
                h3{
                font-size: 15px;
                }
            }
        }
    }
}

//ayuda
@media screen and (max-width: 420px){
    .cont-general-help{
        margin: 15px 0;
        margin-left: 15px;
        h2{
            font-size: 25px;
        }
        .cont{
            .tab{
                width: 350px;
                margin-right: 0;
            }
        }
        .cont-contactanos{
            p{
                font-size: 12px;
            }
            input{
                width: 200px;
            }
            .cont-text-area{
                width: 200px;
            }
            .cont-enviar{
                width: 130px;
            }
        }
    }
}

//ayuda
@media screen and (max-width: 375px){
    .cont-general-help{
        margin: 15px 0;
        margin-left: 15px;
        .cont{
            .tab{
                width: 290px;
                margin-right: 0;
            }
        }
        .cont-contactanos{
            p{
                font-size: 12px;
            }
            input{
                width: 200px;
            }
            .cont-text-area{
                width: 200px;
            }
            .cont-enviar{
                width: 130px;
            }
        }
    }
}

//responsive productos
@media screen and (max-width: 690px){
    .cont-general{
        border: none;
        .cont-producto{
            margin-bottom: 100px;
            .cont-tittle{
                margin-left: 0;
                p{
                    font-size: 18px ;
                }
                h2{
                    font-size: 1.5em;
                }
            }
            img{
                width: 250px;
            }
        }
        .cont-descripcion{
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
        .cont-caracteristicas{
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 410px){
    .cont-general{
        .cont-producto{
            margin-right: 30px;
            .cont-img{
                width: 190px;
                margin-right: 15px;
            }
            .cont-tittle{
                h2{
                    margin-left: -15px;
                }
                p{
                    margin-left: -15px;
                }
                button{
                    margin-left: -15px;
                }                
            }
        }
        .cont-descripcion{
            h3{
                font-size: 17px;
            }
            p{
                font-size: 13px;
            }
        }
        .cont-caracteristicas{
            h3{
                font-size: 17px;
            }
            p{
                font-size: 13px;
            }
        }
    }
}
