@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    font-family: 'PT Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    color: rgb(203, 167, 167);
    list-style-type: none;
    text-decoration: none;
    }

body{
    background: url(../img/fondo3.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1920px;
    width: 100%;
}
header{    
    .cont-header{
        .cont{
            background: linear-gradient(30deg, #5C0270 50%, #48104F 50%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 90px;
            padding: 5px 10%;
            h1{
                font-size: 30px;
            }
            .logo-nombre{
                margin-right: auto;
            }
            .cont-logo{
                cursor: pointer;
                transition: all 0.10;
                height: 80px;
                width: auto;
                padding-bottom: 10px;
            }
            .cont-logo:hover{
                transform: scale(1.1);
            }
            .nav-links{
                list-style: none;
                li{
                    display: inline-block;
                    padding: 0 20px;
                }
                a{
                    font-size: 700;
                    color: #fff;
                    text-decoration: none;
                }
            }
            .nav-links li:hover{
                transform: scale(1.1);
            }
            .nav-links a:hover{
                color: #E1B7FF ;
            }
        }
        .cont-cate{
            .cont_nav_categorias{
                display: flex;
                max-width: 1920px;
                width: 100%;
                background-color: #00000079;
                .cont-ul > li{
                    float: left;
                }
                li:hover > ul{
                    display: block;
                }
                .cont-ul{
                    list-style: none;
                    a{
                        color: #fff;
                        text-decoration: none;
                        padding: 15px 20px;
                        display: block;
                    }
                    a:hover{
                        background-color: #434343b8;
                    }
                    ul{
                        display: none;
                        position: absolute;
                        min-width: 140px;
                    }
                    .cont-sub-cate{
                        background-color: #00000079;
                    }
                    .menu_item{
                        margin: auto 30px;
                    }
                }
            }
        }    
    }
}

main{
    .cont-general{
        border: 3px solid #b433d1b5;
        .cont-producto{
            display: flex;
            justify-content: space-evenly;
            margin-top: 120px;
        .cont-tittle{
            display: flex;
            padding-bottom: 8px;
            padding-right: 10px;
            flex-direction: column;
            margin-left: 25px;
            p{
                margin: 15px 0;
                font-size: 20px;
            }
            h2{
                font-size: 1.7em;
            }
            button{
                width: 150px;
                height: 50px;
                margin-bottom: 10px;
                background-color: #b2639585;
                color: #000000;
                border: 1px solid #000000;
                border-radius: 5px;
                font-size: 1.2em;
                cursor: pointer;
            }
            button:hover{
                background-color: #ffffff6b;
                color: #e880e3;
                }
            }
        }   
    }
}

footer{
    width: 100%;
    padding: 50px 0;
    .cont-general{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
        .cont-footer{
            display: flex;
            flex-direction: column;
            padding: 40px;
            h3{
                margin-bottom: 30px;
                color: #fff;
                font-weight: 700;
            }
            a{
                margin-top: 10px;
                font-weight: 600;
                .fa-brands{
                    font-size: 20px;
                }
            }
            a:hover{
                opacity: 0.8;
            }
        }
    }
    .cont-copy{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0 40px;
        p{
            margin-top: 20px;
            color: #7a7a7a;
        }
        hr{
            height: 1px;
            background-color: #7a7a7a;
            border: none;
        }
    }
}