@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  font-family: "PT Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  color: rgb(203, 167, 167);
  list-style-type: none;
  text-decoration: none;
}

body {
  background: url(../img/fondo3.jpg);
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

header .cont-header {
  display: flex;
  justify-content: space-around;
  min-height: 70px;
  background: linear-gradient(30deg, #5C0270 50%, #48104F 50%);
  align-items: center;
  padding: 10px;
}
header .cont-header .logo {
  display: flex;
  align-items: center;
}
header .cont-header .logo h1 {
  cursor: default;
}
header .cont-header img {
  width: 90px;
}
header .cont-header nav a {
  padding-right: 10px;
  color: #fff;
}
header .cont-header nav a:hover {
  color: #E1B7FF;
}
header .cont-cate .checkbtb {
  display: none;
}
header .cont-cate #icon_bars {
  display: none;
}
header .cont-cate .cont_nav_categorias {
  display: flex;
  max-width: 1920px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4745098039);
}
header .cont-cate .cont_nav_categorias .cont-ul > li {
  float: left;
}
header .cont-cate .cont_nav_categorias li:hover > ul {
  display: block;
}
header .cont-cate .cont_nav_categorias .cont-ul {
  list-style-type: none;
}
header .cont-cate .cont_nav_categorias .cont-ul a {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}
header .cont-cate .cont_nav_categorias .cont-ul a:hover {
  background-color: rgba(67, 67, 67, 0.7215686275);
}
header .cont-cate .cont_nav_categorias .cont-ul ul {
  display: none;
  position: absolute;
  min-width: 140px;
}
header .cont-cate .cont_nav_categorias .cont-ul .cont-sub-cate {
  background-color: #000000;
  list-style-type: none;
  z-index: 10;
}
header .cont-cate .cont_nav_categorias .cont-ul .menu_item {
  margin: auto 30px;
}

.cont-main h2 {
  font-size: 32px;
  margin-top: 5%;
  margin-left: 50px;
  display: flex;
}
.cont-main .cont-img {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cont-main .cont-img .cont-p {
  margin-top: 50px;
}
.cont-main .cont-img p {
  font-size: 1.1em;
  color: #fff;
  text-align: center;
  margin-top: 100px;
}
.cont-main .cont-img img {
  width: 290px;
}
.cont-main img:hover {
  transform: scale(1.1);
}

.cont-general {
  border: 3px solid rgba(180, 51, 209, 0.7098039216);
}
.cont-general .cont-producto {
  display: flex;
  justify-content: space-evenly;
  margin-top: 120px;
}
.cont-general .cont-producto img {
  width: 450px;
}
.cont-general .cont-producto .cont-tittle {
  display: flex;
  padding-bottom: 8px;
  padding-right: 10px;
  flex-direction: column;
  margin-left: 25px;
}
.cont-general .cont-producto .cont-tittle p {
  margin: 15px 0;
  font-size: 20px;
}
.cont-general .cont-producto .cont-tittle h2 {
  font-size: 1.7em;
}
.cont-general .cont-producto .cont-tittle button {
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  background-color: rgba(178, 99, 149, 0.5215686275);
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}
.cont-general .cont-producto .cont-tittle button:hover {
  background-color: rgba(255, 255, 255, 0.4196078431);
  color: #e880e3;
}
.cont-general .cont-descripcion {
  margin-bottom: 10px;
}
.cont-general .cont-descripcion h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}
.cont-general .cont-descripcion p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}
.cont-general .cont-caracteristicas h3 {
  margin-left: 15px;
}
.cont-general .cont-caracteristicas p {
  margin-left: 15px;
}

.cont-hospc .cont-ttsubtt {
  margin-top: 30px;
  margin-left: 50px;
}
.cont-hospc .cont-ttsubtt h2 {
  font-size: 2rem;
  font-style: italic;
}
.cont-hospc .cont-ttsubtt p {
  font-size: 2.3rem;
}
.cont-hospc .cont_product_general {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  align-items: center;
  text-align: center;
}
.cont-hospc .cont_product_general img {
  width: 60%;
  margin: 60px 50px;
}
.cont-hospc .cont_product_general p {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.cont-hospc .cont-hospc-product:hover {
  transform: scale(1.1);
}

.cont-giftcard {
  margin-left: 25px;
  margin-top: 20px;
  padding: 0px 10px;
}
.cont-giftcard h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.cont-giftcard p {
  font-size: 15px;
  margin-top: 20px;
  padding: 5px 0;
}

.cont-cuenta .cont-tittle-cuenta h2 {
  text-align: start;
  margin-left: 25px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  margin-top: 25px;
}
.cont-cuenta .cont-general-cuenta {
  margin-left: 25px;
}
.cont-cuenta .cont-general-cuenta .cont-datos-cuenta {
  margin-top: 20px;
}
.cont-cuenta .cont-general-cuenta .cont-datos-cuenta h3 {
  font-size: 2rem;
}
.cont-cuenta .cont-general-cuenta .cont-datos-cuenta p {
  font-size: 30px;
}
.cont-cuenta .cont-general-cuenta .cont-datos-cuenta p span {
  font-size: 22px;
  color: #db90e4;
}
.cont-cuenta .cont-general-cuenta .cont-datos-personales {
  margin-top: 20px;
}
.cont-cuenta .cont-general-cuenta .cont-datos-personales h3 {
  font-size: 2rem;
}
.cont-cuenta .cont-general-cuenta .cont-datos-personales p {
  font-size: 30px;
}
.cont-cuenta .cont-general-cuenta .cont-datos-personales p span {
  font-size: 22px;
  color: #db90e4;
}

.cont-general-nosotros {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-top: 25px;
}
.cont-general-nosotros .cont-info-nosotros {
  padding: 5px 0;
}
.cont-general-nosotros .cont-info-nosotros h2 {
  font-size: 2.3rem;
}
.cont-general-nosotros .cont-info-nosotros p {
  margin-top: 10px;
  padding-top: 5px;
  font-size: 20px;
}
.cont-general-nosotros .cont-trabaja-nosotros h3 {
  font-size: 2rem;
  margin: 15px 0;
}
.cont-general-nosotros .cont-trabaja-nosotros h4 {
  font-size: 1.6rem;
}
.cont-general-nosotros .cont-trabaja-nosotros .cont-file {
  border: none;
  margin-left: -10px;
  color: #fff;
}
.cont-general-nosotros .cont-trabaja-nosotros .cont-label-nosotros {
  display: flex;
}
.cont-general-nosotros .cont-trabaja-nosotros .cont-label-nosotros p {
  margin-left: 15px;
  font-size: 18px;
}
.cont-general-nosotros .cont-trabaja-nosotros .cont-label-nosotros input {
  width: 5%;
  margin-top: -9px;
}
.cont-general-nosotros .cont-trabaja-nosotros input {
  display: block;
  margin: 15px 0;
  height: 40px;
  width: 75%;
  padding-left: 10px;
  color: #000000;
  border: 1px solid rgba(213, 168, 168, 0.2078431373);
  border-radius: 2px;
  font-size: 1rem;
  outline: none;
}
.cont-general-nosotros .cont-trabaja-nosotros .cont-enviar {
  cursor: pointer;
  text-align: center;
  width: 40%;
}

.cont-carrito {
  margin-left: 30px;
  margin-top: 20px;
}
.cont-carrito h2 {
  font-size: 2.6rem;
}
.cont-carrito .cont-articulo {
  margin: 30px 30px;
  cursor: pointer;
}
.cont-carrito .cont-articulo img {
  width: 10%;
  border: solid 1px #000000;
  background-color: rgba(184, 169, 169, 0.1568627451);
  border-radius: 10px;
  margin-top: 10px;
}
.cont-carrito .cont-articulo h3 {
  font-size: 1.3rem;
}
.cont-carrito .cont-articulo p {
  font-size: 18px;
  position: absolute;
}
.cont-carrito .cont-articulo p:hover {
  color: #d680ec;
}
.cont-carrito .cont-compra {
  margin-left: 30px;
}
.cont-carrito .cont-compra p {
  margin-top: 50px;
  font-size: 1.3rem;
}
.cont-carrito .cont-compra button {
  margin-top: 15px;
  width: 6%;
  height: 40px;
  position: absolute;
  left: 120px;
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 800;
}
.cont-carrito .cont-compra button:hover {
  background: rgba(132, 128, 128, 0.7764705882);
  color: #fff;
}

.cont-general-help {
  margin: 15px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cont-general-help h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.cont-general-help .tab {
  position: relative;
  padding: 0 20px 20px;
  background-color: rgba(233, 154, 236, 0.6196078431);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
  margin: 15px 0;
}
.cont-general-help .tab input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.cont-general-help .tab input:checked ~ label::after {
  content: "+";
  color: rgb(57, 45, 226);
  transform: rotate(135deg);
  position: absolute;
}
.cont-general-help .tab input:checked ~ label h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.2);
  font-size: 8em;
  justify-content: flex-end;
  padding: 20px;
}
.cont-general-help .tab input:checked ~ label h3 {
  background: #fff;
  padding: 2px 10px;
  color: #333;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.cont-general-help .tab input:checked ~ .content {
  max-height: 100vh;
  transition: 1s;
}
.cont-general-help .tab input:checked ~ .content p {
  color: #fffdfd;
}
.cont-general-help .tab label {
  display: inline-block;
  display: flex;
  margin-bottom: 0;
  align-items: center;
  cursor: pointer;
}
.cont-general-help .tab label::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.1);
  transition: transform 1s;
}
.cont-general-help .tab label h2 {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.25em;
  border-radius: 5px;
  margin-right: 10px;
}
.cont-general-help .tab label h3 {
  position: relative;
  font-weight: 500;
  color: #fff9f9;
}
.cont-general-help .tab:hover label::after {
  color: #333;
}
.cont-general-help .tab .content {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}
.cont-general-help .tab .content p {
  position: relative;
  padding: 10px 0;
  color: #333;
}
.cont-general-help .cont-contactanos p {
  font-size: 16px;
}
.cont-general-help .cont-contactanos input {
  display: block;
  margin: 15px 0;
  height: 40px;
  width: 17%;
  padding-left: 10px;
  color: #000000;
  border: 1px solid rgba(213, 168, 168, 0.2078431373);
  border-radius: 3px;
  font-size: 1rem;
  outline: none;
}
.cont-general-help .cont-contactanos .cont-enviar {
  cursor: pointer;
  text-align: center;
  width: 7%;
}
.cont-general-help .cont-contactanos .cont-text-area {
  resize: none;
  width: 17%;
}

footer {
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}
footer .cont-general-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
footer .cont-general-footer .cont-footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
footer .cont-general-footer .cont-footer h3 {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 700;
}
footer .cont-general-footer .cont-footer a {
  margin-top: 10px;
  font-weight: 600;
}
footer .cont-general-footer .cont-footer a .fa-brands {
  font-size: 20px;
}
footer .cont-general-footer .cont-footer a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 980px) {
  .cont-carrito .cont-articulo img {
    width: 140px;
  }
  .cont-carrito .cont-articulo p {
    position: unset;
  }
  .cont-carrito .cont-compra button {
    width: 110px;
  }
}
@media screen and (max-width: 926px) {
  .cont-header .cont-cate .cont-ul {
    font-size: 15px;
  }
}
@media screen and (max-width: 905px) {
  .cont-header .cont-cate .cont_nav_categorias .cont-ul .cate_menu {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  .cont-header .cont .cont-cate {
    margin-left: -20px;
    font-size: 13px;
  }
  .cont-general-help .cont-contactanos input {
    width: 250px;
  }
  .cont-general-help .cont-contactanos .cont-text-area {
    width: 250px;
  }
  .cont-general-help .cont-contactanos .cont-enviar {
    width: 200px;
  }
}
@media screen and (max-width: 720px) {
  .cont-cate .cont_nav_categorias .checkbtb {
    display: block;
    font-size: 30px;
    margin-left: 20px;
  }
  .cont-cate .cont_nav_categorias #icon_bars:checked ~ ul {
    left: 0;
  }
  .cont-cate .cont_nav_categorias .cont-ul {
    position: absolute;
    width: 100%;
    height: 40vh;
    background-color: #000000;
    top: 114px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
  }
  .cont-cate .cont_nav_categorias .cont-ul li {
    display: block;
  }
  .cont-cate .cont_nav_categorias .cont-ul li a {
    font-size: 20px;
  }
  .cont-cate .cont_nav_categorias .cont-ul li a:hover {
    background: none;
    color: #511158;
  }
  .cont-cate .cont_nav_categorias .cont-ul .cont-sub-cate {
    width: 100%;
    height: 35vh;
    background-color: #000000;
  }
  .cont-cate .cont_nav_categorias .cont-ul .cont-sub-cate:hover {
    color: rgba(76, 24, 83, 0.768627451);
  }
  .cont-cate .cont_nav_categorias .cont-ul .cate_menu {
    display: none;
  }
  .cont-main h2 {
    margin-left: 20px;
  }
  .cont-main .cont-img {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .cont-header {
    flex-direction: column;
  }
  .cont-header nav {
    padding: 10px 0;
  }
  .cont-cate .cont_nav_categorias .cont-ul {
    top: 154px;
  }
}
@media screen and (max-width: 690px) {
  .cont-general-help {
    margin: 15px 0;
    margin-left: 15px;
  }
  .cont-general-help .cont .tab {
    width: 400px;
    margin-right: 0;
    position: unset;
  }
  .cont-general-help .cont .tab h3 {
    position: unset;
  }
  .cont-general-help .cont .tab .content p {
    position: unset;
  }
  .cont-general-help .cont-contactanos p {
    font-size: 13px;
  }
  .cont-general-help .cont-contactanos input {
    width: 200px;
  }
  .cont-general-help .cont-contactanos .cont-text-area {
    width: 200px;
  }
  .cont-general-help .cont-contactanos .cont-enviar {
    width: 130px;
  }
}
@media screen and (max-width: 510px) {
  .cont-hospc .cont-ttsubtt {
    text-align: center;
    margin: 0;
  }
  .cont-hospc .cont-ttsubtt h2 {
    margin-top: 10px;
    font-size: 25px;
  }
  .cont-hospc .cont-ttsubtt p {
    font-size: 20px;
  }
  .cont-hospc .cont_product_general {
    margin: 0;
  }
  .cont-hospc .cont_product_general img {
    width: 200px;
  }
  .cont-hospc .cont_product_general .cont-hospc-product {
    margin-left: 15px;
  }
  .cont-hospc .cont_product_general .cont-hospc-product h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  .cont-general-help {
    margin: 15px 0;
    margin-left: 15px;
  }
  .cont-general-help h2 {
    font-size: 25px;
  }
  .cont-general-help .cont .tab {
    width: 350px;
    margin-right: 0;
  }
  .cont-general-help .cont-contactanos p {
    font-size: 12px;
  }
  .cont-general-help .cont-contactanos input {
    width: 200px;
  }
  .cont-general-help .cont-contactanos .cont-text-area {
    width: 200px;
  }
  .cont-general-help .cont-contactanos .cont-enviar {
    width: 130px;
  }
}
@media screen and (max-width: 375px) {
  .cont-general-help {
    margin: 15px 0;
    margin-left: 15px;
  }
  .cont-general-help .cont .tab {
    width: 290px;
    margin-right: 0;
  }
  .cont-general-help .cont-contactanos p {
    font-size: 12px;
  }
  .cont-general-help .cont-contactanos input {
    width: 200px;
  }
  .cont-general-help .cont-contactanos .cont-text-area {
    width: 200px;
  }
  .cont-general-help .cont-contactanos .cont-enviar {
    width: 130px;
  }
}
@media screen and (max-width: 690px) {
  .cont-general {
    border: none;
  }
  .cont-general .cont-producto {
    margin-bottom: 100px;
  }
  .cont-general .cont-producto .cont-tittle {
    margin-left: 0;
  }
  .cont-general .cont-producto .cont-tittle p {
    font-size: 18px;
  }
  .cont-general .cont-producto .cont-tittle h2 {
    font-size: 1.5em;
  }
  .cont-general .cont-producto img {
    width: 250px;
  }
  .cont-general .cont-descripcion h3 {
    font-size: 20px;
  }
  .cont-general .cont-descripcion p {
    font-size: 15px;
  }
  .cont-general .cont-caracteristicas h3 {
    font-size: 20px;
  }
  .cont-general .cont-caracteristicas p {
    font-size: 15px;
  }
}
@media screen and (max-width: 410px) {
  .cont-general .cont-producto {
    margin-right: 30px;
  }
  .cont-general .cont-producto .cont-img {
    width: 190px;
    margin-right: 15px;
  }
  .cont-general .cont-producto .cont-tittle h2 {
    margin-left: -15px;
  }
  .cont-general .cont-producto .cont-tittle p {
    margin-left: -15px;
  }
  .cont-general .cont-producto .cont-tittle button {
    margin-left: -15px;
  }
  .cont-general .cont-descripcion h3 {
    font-size: 17px;
  }
  .cont-general .cont-descripcion p {
    font-size: 13px;
  }
  .cont-general .cont-caracteristicas h3 {
    font-size: 17px;
  }
  .cont-general .cont-caracteristicas p {
    font-size: 13px;
  }
}/*# sourceMappingURL=style-general.css.map */