@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    font-family: 'PT Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    color: rgb(203, 167, 167);
    list-style-type: none;
    text-decoration: none;
    }

body{
    background: url(../img/fondo3.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1920px;
    width: 100%;
}
//estilos del header

.cont-header{
    .cont{
        background: linear-gradient(30deg, #5C0270 50%, #48104F 50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        padding: 5px 10%;
        h1{
            font-size: 30px;
        }
        .logo-nombre{
            margin-right: auto;
        }
        .cont-logo{
            cursor: pointer;
            transition: all 0.10;
            height: 80px;
            width: auto;
            padding-bottom: 10px;
        }
        .cont-logo:hover{
            transform: scale(1.1);
        }
        .nav-links{
            list-style: none;
            li{
                display: inline-block;
                padding: 0 20px;
            }
            a{
                font-size: 700;
                color: #fff;
                text-decoration: none;
            }
        }
        .nav-links li:hover{
            transform: scale(1.1);
        }
        .nav-links a:hover{
            color: #E1B7FF ;
        }
    }
        .cont-cate{
            .checkbtb{
                display: none;
            }
            #icon_bars{
                display: none;
            }
            .cont_nav_categorias{
                display: flex;
                max-width: 1920px;
                width: 100%;
                background-color: #00000079;
                .cont-ul > li{
                    float: left;
                }
                li:hover > ul{
                    display: block;
                }
                .cont-ul{
                    list-style-type: none;
                a{
                    color: #fff;
                    text-decoration: none;
                    padding: 15px 20px;
                    display: block;
                }
                a:hover{
                    background-color: #434343b8;
                }
                ul{
                    display: none;
                    position: absolute;
                    min-width: 140px;
                }
                .cont-sub-cate{
                    background-color: #00000079;
                    list-style-type: none;
                }
                .menu_item{
                    margin: auto 30px;
                }
            }
        }
    }  
}  


footer{
    width: 100%;
    padding: 50px 0;
    .cont-general{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
        .cont-footer{
            display: flex;
            flex-direction: column;
            padding: 40px;
            h3{
                margin-bottom: 30px;
                color: #fff;
                font-weight: 700;
            }
            a{
                margin-top: 10px;
                font-weight: 600;
                .fa-brands{
                    font-size: 20px;
                }
            }
            a:hover{
                opacity: 0.8;
            }
        }
    }
    .cont-copy{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0 40px;
        p{
            margin-top: 20px;
            color: #7a7a7a;
        }
        hr{
            height: 1px;
            background-color: #7a7a7a;
            border: none;
        }
    }
}

//responsive
@media screen and (max-width: 926px){
    .cont-header{
        .cont-cate{
            .cont-ul{
                font-size: 15px;
            }
        }
    }
}

//responsive desaparicion ayuda
@media screen and (max-width: 905px){
    .cont-header{
        .cont-cate{
            .cont_nav_categorias{
                .cont-ul{
                    .cate_menu{
                        display: none;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 860px){
    .cont-header{
        .cont{
            .logo-nombre{
                margin-left: -20px;
            }
            .cont-cate{
                margin-left: -20px;
                font-size: 13px;
            }
        }
    }
}


//responsive otras medidas
@media screen and (max-width: 720px){
    .cont-header{
        .cont{
            width: 100%;
            display: inline-flex;
            flex-wrap: nowrap;
            h1{
                display: inline-block;
            }
            .cont-nav{
                margin-left: 20px;
                margin-bottom: 5px;
                align-items: center;
                text-align: center;
                .cont_nav_a{
                    text-align: center;
                    display: none;
                }
            }
        }
        .cont-cate{
            .cont_nav_categorias{
                .checkbtb{
                    display: block;
                    font-size: 30px;
                    margin-left: 20px;
                }
                #icon_bars:checked ~ ul{
                    left: 0;
                }
                .cont-ul{
                    position: absolute;
                    width: 100%;
                    height: 40vh;
                    background-color: #000000f0;
                    top: 125px;
                    left: -100%;
                    text-align: center;
                    transition: all 0.5s;
                    display: grid;
                    li{
                        display: block;                
                        a{
                            font-size: 20px;
                        }
                        a:hover{
                            background: none;
                            color:#511158;
                        }
                    }
                    .cont-sub-cate{
                        width: 100%;
                        height: 35vh;
                        background-color: #000000;
                    }
                    .cont-sub-cate:hover{
                        color: #4c185399;
                    }
                    .cate_menu{
                        display: none;
                    }
                }
            }
        }
    }
    .cont-main{
        h2{
            margin-left: 20px;
        }
        .cont-img{
            flex-direction: column;
            align-items: center;
        }
    }
}

//responsive otras medidas v2
@media screen and (max-width: 699px){
    .cont-header{
        .cont{
            .cont-logo{
                width: 115px;
            }
            .logo-nombre{
                position: absolute;
                left: 130px;
                font-size: 25px;
                margin-left: 30px;
            }
        }
    }
}

//responsive otras medidas v3
@media screen and (max-width: 488px){
    .cont-header{
        .cont{
            .cont-logo{
                width: 90px;
                height: 65px;
            }
            .logo-nombre{
                position: absolute;
                font-size: 20px;
                left: 90px;
            }
            .cont-nav{
                .nav-links{
                    font-size: 14px;
                    margin-top: 10px;
                }
            }
        }
    }
}

//responsive otras medidas v4
@media screen and (max-width: 413px){
    .cont-header{
        .cont{
            .cont-logo{
                width: 70px;
                height: 60px;
                position: absolute;
                left: 10px;
                top: 15px;
            }
            .logo-nombre{
                position: absolute;
                left: 40px;
            }
        }
    }
}

//responsive otras medidas v5
@media screen and (max-width: 350px){
    .cont-header{
        .cont{
            .cont-logo{
                left: 5px;
            }
            .logo-nombre{
                left: 30px;
                font-size: 18px;
            }
            .cont-nav{
                .nav-links{
                    font-size: 13px;
                }
            }
        }
    }
}