
//IMPORTS

@import "header";
@import "footer";
@import "login";


//estilos de index principal
.cont-main{
    .cont-product-inicio{
        img{
            width: 300px;
            height: 300px;
        }
        .card{
            background-color: transparent;
            border: none;
            text-align: center;
        }
    }
    .cont-inicio{
        background: url(../img/fondo-inicio-11.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        height: 400px;
        display: flex;
        text-align: center;
    }        
    h4{
        margin-top: 70px;
        font-size: 2.5em;
        text-align: center;
        border-bottom: $bg-color-terciario 1px solid;   
    }
    h2{
        font-size: 3em;
        opacity: 1;
        z-index: 10;
        margin-top: 200px;
    }
    .cont-article{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .card{
            position: relative;
            width: 300px;
            margin: 20px;
            height: 350px;
            background: rgba(71, 16, 107, 1);
            &:hover .front{
                transform: perspective(600px) rotateY(180deg);
            }
            &:hover .back{
                transform: perspective(600px) rotateY(360deg);
            }
            .face{
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                border-radius: 10px;
                overflow: hidden;
                transition: .5s;
            }
            .front{
                transform: perspective(600px) rotateY(0deg);
                box-shadow: 0 5px 10px $bg-color-terciario;
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                h3{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 45px;
                    line-height: 45px;
                    color: $bg-color-secundario;
                    background: rgba(0,0,0,.4);
                    text-align: center;
                }
            }
            .back{
                transform: perspective(600px) rotateY(180deg);
                background: rgb(5, 35, 54);
                box-shadow: 0 5px 10px $bg-color-terciario;
                padding: 15px;
                color: #f3f3f3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                h3{
                    font-size: 30px;
                    margin-top: 20px;
                    letter-spacing: 2px;
                }
                p{
                    letter-spacing: 1px;
                }
                .link{
                    background: rgb(5, 35, 54);
                    border: none;
                    border-top: solid 1px #f3f3f3;
                    height: 50px;
                    line-height: 50px;
                    a{
                        color: #f3f3f3;
                        &:hover{
                            color: #2498db;
                        }
                    }
                }
            }
        }
    }
}

//estilo productos
.cont-general{
    border: 3px solid #b433d1b5;
    .cont-producto{
        display: flex;
        justify-content: space-evenly;
        margin-top: 120px;
        img{
            width: 450px;
        }
        .cont-tittle{
            display: flex;
            padding-bottom: 8px;
            padding-right: 10px;
            flex-direction: column;
            margin-left: 25px;
            p{
                margin: 15px 0;
                font-size: 20px;
            }
            h2{
                font-size: 1.7em;
            }
            button{
                width: 150px;
                height: 50px;
                margin-bottom: 10px;
                background-color: #b2639585;
                color: $bg-color-terciario;
                border: 1px solid $bg-color-terciario; 
                border-radius: 5px;
                font-size: 1.2em;
                cursor: pointer;
            }
            .btn-comparar{
                font-size: 1.1em;
            }
            button:hover{
                background-color: #ffffff6b;
                color: #e880e3;
            }
        }
    }
    .cont-descripcion{
        margin-bottom: 10px;
        h3{
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 15px;
        }
        p{
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 15px;
        }
    }
    .cont-caracteristicas{
        h3{
            margin-left: 15px;
        }
        p{
            margin-left: 15px;
        }
    } 
}

//product and offers

@mixin categorias ($direccion:column){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    height: 300px;
    display: flex;
    flex-direction: $direccion;
    text-align: center;  
}

.cont-hospc{
    .cont-ttsubtt{ 
        h2{
            font-size: 4rem;
            font-style: italic;
            color: $bg-color-secundario;
            margin-top: 170px;
        }
        p{
            font-size: 2.5rem;
            color: $bg-color-secundario;
            text-align: center;
        }
        .cont-cel{
            background: url(../img/fondo-cel-copia.jpg);
            @include categorias;
        }
        .cont-hardware{
            background: url(../img/fondo-hard.jpg);
            @include categorias;
        }
        .cont-peri{
            background: url(../img/fondo-perifericos.jpg);
            @include categorias;
        }
        .cont-soft{
            background: url(../img/fondo-soft.jpg );
            @include categorias;
        }
        .cont-ofer{
            background-color: $bg-color-secundario;
            @include categorias (column);
            h2{
                margin: 0;
                color: $bg-color-terciario;
            }
            p{  
                margin: 0;
                color: $bg-color-terciario;
            }
        }
    }
    .cont_product_general{
        .card{
            width: 300px;
            background: transparent;
            border: none;
            text-align: center;
            align-items: center;
        }
        button{
            width: 100px;
        }
        img{
            height: 250px;
            width: 250px;
            object-fit: contain;
        }
        button:hover{
            background-color: #2c75a5;
            cursor: pointer;
        }
    }
}

//giftcards
.cont-giftcard{
    h2{
        margin-top: 15px;
    }
    .a-giftcard{
        text-align: center;
        margin: 5px;
        font-size: 20px;
        a{
            color: $bg-color-secundario;
            text-decoration: revert;
            &:hover{
                background-color: #6f019b;
                color: $bg-color-terciario;
            }
        }
    }
}
.cont-giftcard-compra{
    .card-body-gift{
        height: 400px;
        width: 18rem;
        img{
            width: 260px;
            height: 190px;
            object-fit: fill;
        }
        h5{
            color: $bg-color-terciario;
        }
        p{
            color: $bg-color-terciario;
            height: 70px;
        }
    }
}

//Cuenta

@mixin estilo-cuenta{
    padding: 5px;
    cursor: pointer;
    border: 1px solid $bg-color-secundario;
    font-size: 18px;
    background: $bg-color-azul;
    background: -webkit-linear-gradient(to right, $bg-color-variacion, $bg-color-azul);
    background: linear-gradient(to right, $bg-color-variacion, $bg-color-azul);
    border-radius: 5px;
}

.cont-cuenta{
    i{
        font-size: 30px;
    }
    a{
        color: $bg-color-secundario;
        font-size: 24px;
        &:hover{
        color: #680c72;
        }
    }
    h1{
        margin: 15px;
    }
    p{
        font-size: 22px;
        color: $bg-color-terciario;
    }
    .cont-cuenta-general{
        display: grid;
        grid-template-areas:    "cuenta cuenta"
                                "direccion carrito"
                                "giftcard pagos"
                                "mensajes deseados"
                                "ayuda ayuda";
        gap: 10px;
        width: 60%;
        margin: 0 auto;
        padding: 20px;
        .cont-cuenta_cuenta{
            @include estilo-cuenta;
            grid-area: cuenta;
        }
        .cont-ayuda_cuenta{
            @include estilo-cuenta;
            grid-area: ayuda;
        }
        .cont-pagos_cuenta{
            @include estilo-cuenta;
            grid-area: pagos;
        }
        .cont-carrito_cuenta{
            @include estilo-cuenta;
            grid-area: carrito;
        }
        .cont-deseados_cuenta{
            @include estilo-cuenta;
            grid-area: deseados;
        }
        .cont-giftcard_cuenta{
            @include estilo-cuenta;
            grid-area: giftcard;
        }
        .cont-mensajes_cuenta{
            @include estilo-cuenta;
            grid-area: mensajes;
        }
        .cont-direccion_cuenta{
            @include estilo-cuenta;
            grid-area: direccion;
        }
    }
}

//Trabaja con Nosotros
.cont-info-emp{
    h2{
        margin: 15px auto;
    }
    img{
        object-fit: contain;
    }
    p{
        font-size: 20px;
    }
}
.cont-general-nosotros{
    margin-top: 40px;
    .cont-trabaja-nosotros{
        h3{
            font-size: 2rem;
            margin: 15px 0;
        }
        h4{
            font-size: 1.6rem;
        }
        .cont-file{
            border: none;
            color: $bg-color-secundario;
        }
        .cont-label-nosotros{
            display: flex;
            align-items: center;
            p{
                margin-left: 15px;
                font-size: 18px;
            }
            input{
                width: 15px;
                margin-top: 0;
            }
        }
        input{
            display: block;
            margin: 15px 0;
            height: 40px;
            width: 50%;
            padding-left: 10px;
            color: $bg-color-terciario;
            border: 1px solid  #d5a8a835;
            border-radius: 2px;
            font-size: 1rem;
            outline: none;
        } 
        .cont-enviar{
            cursor: pointer;
            text-align: center;
            width: 20%;
            &:hover{
                background-color: $bg-color-secundario;
            }
        }
    }
}

//Carrito
.cont-carrito{
    margin-left: 30px;
    margin-top: 20px;
    h2{
        font-size: 2.6rem;
    }
    .cont-sub-carrito{
        max-width: 1800px;
        background-color: $bg-color-secundario;
        border-radius: 5px;
        margin-right: 20px;
    }
    .cont-articulo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 30px;
        cursor: pointer;
        a{
            color: $bg-color-terciario;
            display: flex;
            align-items: center;
            gap: 50px;
        }
        img{
            display: flex;
            align-content: start;
            width: 150px;
            border: solid 1px $bg-color-terciario;
            background-color: #b8a9a928;
            border-radius: 10px;
            margin-top: 10px;
        }
        h3{
            font-size: 1.3rem;
            padding: 10px;
        }
        p{
            margin-right: 50px;
            padding: 10px;
            font-size: 18px;
            position: relative;
            color: $bg-color-azul;
            width: 85px;
        }
        p:hover{
            color: #d680ec;
        }
    }
    .cont-compra{
        margin-left: 30px;
        margin-bottom: 20px;
        p{
            display: flex;
            justify-content: space-between;
            color: #2c3e50;
            margin-top: 50px;
            margin-right: 60px;
            padding-right: 20px;
            font-size: 1.3rem;
        }
        button{
            width: 6%;
            height: 40px;
            cursor: pointer;
            background: $bg-color-secundario;
            border-radius: 10px;
            font-weight: 800;
            margin-bottom: 10px;
        }
        button:hover{
            background: #848080c6;
            color: $bg-color-secundario;
        }
    }
}

//Ayuda/Preguntas Frecuentes
.cont-preguntas{
    margin: 0 10px;
}
.frecuentes-tittle{
    margin: 20px 15px;
}
.cont-contactanos{
        .text-ayuda{
            h2{
                margin: 10px 15px
            }
            p{
                margin: 10px 15px;
            }
        }
        p{
            font-size: 16px;
        }
        input{
            display: block;
            margin: 15px 20px;
            height: 40px;
            width: 20%;
            padding-left: 10px;
            color: $bg-color-terciario;
            border: 1px solid  #d5a8a835;
            border-radius: 3px;
            font-size: 1rem;
            outline: none;
        } 
        .cont-enviar{
            cursor: pointer;
            text-align: center;
            width: 7%;
        }
        .cont-text-area{
            margin-left: 20px;
            resize: none;
            width: 20%;
        }
}

// estilos vs
.cont-vs-general{
    max-width: 1440px;
    margin: 0 auto;
    .titulo-btp{
        .titulo-vs{
            font-size: 3.5em;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 40px;
        }
    }
    .cont-grid-boostrap{
        align-items: center;
        margin-bottom: 50px;
        .cont-teclado{
            text-align: center;
            height: fit-content;
        }
        .subtitulo-btn{
            text-align: center;
        }
        p{
            font-size: 21px;
        }
        a{
            text-align: center;
        }
        img{
            object-fit: contain;
            width: 500px;
        }
    }    
}



// RESPONSIVE

@media screen and (max-width:1200px){
    .cont-cuenta{
        .cont-cuenta-general{
            width: 70%;
        }
    }
    .cont-vs-general{
        .cont-grid-boostrap{
            height: auto;
            img{
                width: 400px;
            }
            p{
                font-size: 16px;
            }            
        }
    }
}

@media screen and (max-width: 1000px){    
    .cont-main{
        .cont-img{
            display: flex;
            flex-direction: column;
            a{
                margin: 15px 0;
                background: none;
                border: none;
            }
        }
    }
    .cont-contactanos{
        p{
            font-size: 13px;
        }
        input{
            width: 200px;
        }
            .cont-text-area{
                width: 200px;
            }
            .cont-enviar{
                width: 130px;
            }
        }
    .cont-carrito{
        h2{
            margin-left: inherit;
        }
        .cont-articulo{
            img{
                width: 170px;
            }
            p{
                position: unset;
            }
        }
        .cont-compra{
            button{
                width: 90px;
            }
        }
    }
    .cont-general{
        border: none;
        .cont-producto{
            margin-bottom: 100px;
            margin-right: 30px;
            .cont-img{
                width: 190px;
                margin-right: 15px;
            }
            .cont-tittle{
                margin-left: 0;
                p{
                    font-size: 18px;
                    margin-left: -15px;
                }
                h2{
                    font-size: 1.5em;
                    margin-left: -15px; 
                }
                button{
                    margin-left: -15px;
                }   
            }
            img{
                width: 250px;
            }
        }
        .cont-descripcion{
            h3{
                font-size: 17px;
            }
            p{
                font-size: 13px;
            }
        }
        .cont-caracteristicas{
            h3{
                font-size: 17px;
            }
            p{
                font-size: 13px;
            }
        }
    }
    .cont-hospc{
        .cont-ttsubtt{
            text-align: center;
            margin: 0;
            h2{
                margin-top: 10px;
            }
            p{
                font-size: 20px;
            }
        }
    }
    .cont-cuenta{
        .cont-cuenta-general{
            width: 100%;
        }
    }
    .cont-grid-boostrap{
        img{
            width: 350px;
            height: 350px;
        }
    }
}

@media screen and (max-width: 835px){
    .cont-vs-general{
        .cont-grid-boostrap{
            img{
                width: 300px;
            }
            p{
                font-size: 16px;
            }            
        }
    } 
}

@media screen and (max-width: 720px){
    .cont-grid-boostrap{
        img{
            width: 200px;
            height: 200px;
        }
    }
    .cont-cate{
        .cont-ul{
            font-size: 1em;
        }
    }
}

@media screen and (max-width:620px){
    .cont-cuenta{
        a{
            font-size: 20px;
        }
        p{
            font-size: 16px;
        }
        .cont-cuenta-general{
            grid-template-columns: 50% 50%;
            grid-template-areas:"cuenta direccion"
                                "carrito giftcard"
                                "pagos mensajes"
                                "deseados ayuda";
        }
    }
    .cont-vs-general{
        .cont-grid-boostrap{
            img{
                width: 200px;
            }
            p{
                font-size: 16px;
            }            
        }
    }
    .cont-sub-carrito{
        .cont-articulo{
            img{
                width: 100px;
            }
            h3{
                font-size: 16px;
            }
            p{
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 575px){
    .cont-giftcard-compra{
        .card-body-gift{
            margin-left: 30px;
        }
    }
}


@media screen and (max-width: 500px) {
    .cont-main{
        .cont-inicio{
            h2{
                margin-top: 100px;
            }
        }
    }
    .cont-vs-general{
        .cont-grid-boostrap{
            img{
                width: 150px;
            }
        }
    }
    .cont-sub-carrito{
        .cont-articulo{
            a{
                gap: 0;
            }
            h3{
                margin: 0;
            }
            p{
                margin: 0;
            }
        }
        .cont-compra{
            p{
                margin: 0;
            }
        }
    }
    .cont-general-nosotros{
        padding: 1rem;
        margin: 0;
    }
}

@media screen and (max-width: 450px){
    .cont-cuenta{
        .cont-cuenta-general{
            grid-template-columns: auto;
            grid-template-areas:"cuenta"
                                "direccion"
                                "carrito"
                                "giftcard"
                                "pagos"
                                "mensajes"
                                "deseados"
                                "ayuda";
        }
    }
    .cont-giftcard{
        a{
            font-size: 16px;
        }
    }
    .cont-sub-carrito{
        .cont-articulo{
            img{
                margin-left: -20px;
            }
            h3{
                padding-left: 10px;
            }
            p{
                margin-right: -40px;
            }
        }
        .cont-compra{
            p{
                font-size: 18px;
                margin-bottom: 10px;
                margin-left: -20px;
                padding: 5px;
            }
            button{
                margin-left: -10px;
            }
        }
    }
    .cont-general-nosotros{
        .cont-trabaja-nosotros{
            input{
                width: 300px;
            }
        }        
    }

}

@media screen and (max-width: 380px){
    .cont-carrito{
        h2{
            font-size: 31px;
            margin-left: -10px;
        }
    }
    .cont-sub-carrito{
        .cont-articulo{
            h3{
                padding: 0;
                font-size: 14px;
            }
            p{
                padding: 0;
                margin-right: -30px;
            }
        }
    }
}